@charset "UTF-8";

		* {
			box-sizing: border-box;
			font-family: 'Noto Sans KR', sans-serif;
			font-size: 10px;
		}
		body {
			min-width: 1240px;
			font-size: 14px;
			ling-height: 1.42857143;
			color: #333;
			margin: 0;
			background: #f1f1f2;
		}
		#div_header {
			background: url("https://recipe1.ezmember.co.kr/img/bg_wave.png?v.2") left bottom repeat-x;
			width: 100%;
			height: 85px;
			text-align: center;
			padding-top: 15px;
		}
		#div_content {
			width: 500px;
			margin: 0 auto 30px;
			padding-top: 20px;
		}
		#div_content > h2 {
			text-align: center;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 15px;
			font-size: 30px;
		}
		#div_panel {
			padding: 0;
			font-size: 16px;
			line-height: 25px;
		}
		#div_panel > form > #div_withdrawal > .p_help {
			color: #999;
			margin-top: 5px;
			margin-bottom: 25px;
			font-size: 14px;
		}
		#div_panel > form > #div_withdrawal > .p_help > a {
			color: #333;
			font-size: 14px;
			text-decoration: none;
		}
		#div_panel > form > #div_withdrawal > .p_help > strong {
			font-weight: 500;
			font-size: 14px;
			color: #999;
		}
		#div_panel > form > .white_space {
			border-bottom: 1px solid #dadcdd;
			margin-bottom: 15px;
		}
		#div_panel > form > button {
			display: block;
			width: 100%;
			margin: 25px 4px 20px 0;
			height: 60px;
			padding: 10px 30px;
			font-size: 18px;
			line-height: 1.3333333;
			border-radius: 3px;
			color: #fff;
			background-color: #46ae4f;
			border: 1px solid #497725;
			cursor: pointer;
		}
		#div_panel > form > button:hover {
			background: #5f9c30;
		}
