@charset "UTF-8";

/* 최근 본 레시피 */
		#div_recent_recipe_panel {
			width: 1240px;
			margin-left: auto;
			margin-right: auto;
		}
		#div_recent_recipe_panel #div_recent_recipe_content {
			margin-top: 44px;
		}
		#div_recent_recipe_panel #div_recent_recipe_content > h3 {
			margin: 20px 0 10px 20px;
			font-size: 24px;
			font-weight: normal;
			color: #000;
		}
		#div_recent_recipe_panel #div_recent_recipe_content > #div_recent_recipe_body {
			margin: 22px 9px 50px 23px;
			padding-right: 16px;
			position: relative;
		}
		.rr_list_button_previous {
			position: absolute;
			left: 7px;
			top: 70px;
			z-index: 100;
		}
		.rr_list_button_next {
			position: absolute;
			right: 13px;
			top: 70px;
			z-index: 100;
		}
		.recent_recipe {
			width: 16.66666667%;
		}
		.recent_recipe > .rr_recipe_thumbnail {
			display: block;
			width: 180px;
			height: 255px;
			border-radius: 0;
			padding: 0;
			background-color: #fff;
			line-height: 1.42857143;
			text-decoration: none;
			border: 1px solid #ddd;
		}
		.rr_recipe_thumbnail_img{
			display: block;
			width: 180px;
			height: 180px;
			max-width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
		.rr_recipe_title {
			padding: 9px;
		}
		.rr_recipe_title > div {
			color: #333;
			font-size: 14px;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 2;
		    overflow: hidden;
		}
/* /최근 본 레시피 */
		#footer1 {
			display: flex;
			background: #fff;
			color: #999;
			padding: 2px 0 5px 0;
			margin-top: 30px;
			border-top: 1px solid #dcdcdc;
		}
		#footer1_panel {
			display: flex;
			width: 1240px;
			margin-right: auto;
			margin-left: auto;
		}
		#footer1_panel > #footer1_content1 {
			width: 440px;
			padding:  26px 0 0 9px;
		}
		#footer1_content1 > .f_content1_link {
			margin: 0;
			padding-bottom: 16px;
		}
		#footer1_content1 > .f_content1_link a {
			font-size: 13px;
			color: #999;
			text-decoration: none;
			font-weight: 450;
		}
		#footer1_content1 > .f_content1_link span {
			color: #ddd;
			padding: 0 4px;
		}
		#footer1_content1 > .f_content1_info {
			font-size: 13px;
			line-height: 1.6;
			margin-bottom: 16px;
		}
		#footer1_panel > #footer1_content2 {
			width: 500px;
			marging-right: 11px;
			padding: 25px 0 0 0;
		}
		#footer1_content2 > #app_download {
			display: block;
			margin-bottom: 9px;
		}
		#footer1_content2 > #banner_sns {
			display: flex;
			padding-top: 20px;
		}
		#footer1_content2 > #banner_sns > a {
			margin-bottom: 9px;
		}
		#footer1_panel > #footer1_content3 {
			margin-right: 15px;
			width: 300px;
			padding: 28px 0 0 0;
		}
		#footer1_content3 > #f_customer_send {
			width: 300px;
			height: 150px;
			font-size: 13px;
			background: #f5f5f5;
			border: 1px solid #e6e7e8;
			display: block;
			padding: 6px 12px;
			line-height: 1.42857143;
			color: #555;
			border-radius: 4px;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		}
		#footer1_content3 > #f_customer_send::placeholder {
			color: #aaa;
		}
		#footer1_content3 > #f_send_cs_button {
			display: inline-block;
			border: 1px solid #dcdcdc;
			background: #fff;
			border-radius: 0;
			color: #444;
			width: 300px;
			margin: 8px 0 0 -1px;
			padding: 6px 20px;
			font-size: 14px;
			font-weight: 400;
			cursor: pointer;
			user-select: none;
		}
		#footer1_content3 > #f_cs_notice {
			margin: 0;
			padding: 10px 0 0 0;
			text-align: center;
			width: 300px;
			font-size: 13px;
			font-weight: 500;
			color: #999;
		}
		#footer2 {
			background: #289f5d;
			margin-top: 0;
			border-top: none;
			padding: 2px 0 5px 0;
		}
		#footer2 > #footer2_panel {
			display: flex;
			padding: 18px 0 18px 40px;
			width: 1240px;
			margin-right: auto;
			margin-left: auto;
		}
		#footer2_panel > #f2_logo {
			margin: auto 0;
		}
		#footer2_panel > #f2_all_count {
			display: flex;
			background: url("https://recipe1.ezmember.co.kr/img/btm_line.png") 32px 24px no-repeat;
			vertical-align: middle;
			padding-left: 7px;
			margin: 0 0 10px 22px;
		}
		#footer2_panel > #f2_all_count > .div_count_box {
			text-align: center;
			color: #fff;
			font-size: 12px;
			width: 160px;
		}
		#footer2_panel > #f2_all_count > .div_count_box > a {
			color: #fff;
			font-size: 12px;
			text-decoration: none;
		}
		#footer2_panel > #f2_all_count > .div_count_box > a > span {
			width: 100%;
			height: 66px;
			display: block;
			margin-bottom: 6px;
		}
		#footer2_panel > #f2_all_count > .div_count_box > b {
			color: #fbff51;
			display: block;
			font-size: 18px;
			font-weight: normal;
			margin-top: 4px;
		}
		#footer2_panel > #f2_send_mail {
		    background: url("https://recipe1.ezmember.co.kr/img/btm_img1.png") left top no-repeat;
		    padding: 12px 0 0 108px;
		    margin: 10px;
		}
		#footer2 > #footer2_Since {
			background: #fff;
			text-align: center;
			padding: 16px 0;
			margin-bottom: -10px;
		}
