@charset "UTF-8";

		#div_profile_panel {
			margin-bottom: 20px;
		}
		#div_profile_panel > #div_profile_background {
			background: url(https://recipe1.ezmember.co.kr/img/mobile/my_pic_d3.jpg) left top no-repeat;
			background-size: cover;
			height: 150px;
		}
		#div_profile_panel > #div_profile_body {
			text-align: center;
			margin-top: -70px;
			padding-bottom: 5px;
		}
		#div_profile_panel > #div_profile_body > #div_profile_img {
			display: inline-block;
			padding: 4px;
			background: url("https://recipe1.ezmember.co.kr/img/mobile/shop_bg_name.png") left top;
			border-radius: 50%;
			position: relative;
		}
		#div_profile_body > #div_profile_img > #a_profile_img > img {
			width: 110px;
			height: 110px;
			border-radius: 50%;
		}
		#div_profile_body > #div_profile_img > #a_change_profile_img {
			position: absolute;
			right: -2px;
			top: -2px;
		}
		#div_profile_body > #div_profile_img > #a_change_profile_img > img {
			width: 42px;
			height: 42px;
			border-radius: 50%;
		}
		#div_profile_body {
			line-height: 1.5;
		}
		#div_profile_body > #div_profile_user_name {
			margin-top: 5px;
		}
		#div_profile_body > #div_profile_user_name > b {
			font-size: 18px;
			display: block;
			color: #000;
			font-weight: 500;
		}
		#div_profile_body > #div_profile_user_introduce {
			color: #777;
			font-size: 12px;
		}
		#div_profile_body > #div_profile_user_introduce > span {
			display: inline-block;
			padding-right: -2px;
		}
		#div_profile_body > #div_profile_user_introduce > a {
			color: #000;
			text-decoration: none;
			text-wrap: wrap;
			word-break: break-all;
		}
		#div_profile_body > #div_profile_user_introduce > a:hover {
			color: #000;
			text-decoration: none;
		}
		#div_profile_body > #div_profile_figures {
			margin-top: 10px;
			color: #333;
		}
		#div_profile_body > #div_profile_figures > a:hover {
			text-decoration: none;
			color: #333;
		}
		#div_profile_body > #div_profile_figures > a > b {
			font-weight: normal;
		}
		#div_profile_body > #div_profile_figures > span {
			margin: 0 8px;
			font-weight: bold;
			color: #999;
		}
		#div_profile_body > button {
			font-size: 14px;
			background: none;
			border: 1px solid #ddd;
			border-radius: 20px;
			color: #999;
			padding: 7px 20px 8px;
			margin-top: 15px;
			line-height: 1.3333333;
		}
		.blank_space {
			background: #f1f1f2;
			height:10px;
			border-top: 1px solid #e6e7e8;
			border-bottom: 1px solid #e6e7e8;
			clear: both;
		}