@charset "UTF-8";

		#div_content_right > #div_cs_list a.cs_name_button {
			background: url("https://recipe1.ezmember.co.kr/img/icon_arrow2.png") 285px 15px no-repeat;
			position: relative;
			display: block;
			padding: 12px 22px;
			margin-bottom: -1px;
			background-color: #fff;
			border: 1px solid #e6e7e8;
			font-size: 20px;
			text-decoration: none;
		}
		#div_content_right > #div_cs_list a:hover {
			background-color: #f7f7f7;
		}
		#div_content_right > #div_cs_list a.cs_name_button:first-child {
			border-top: none;
		}
		#div_content_right > #div_cs_list a.cs_name_button.on {
			z-index: 2;
			color: #58ac16;
			font-weight: bold;
		}
		#div_content_right > #div_cs_list a.cs_name_button:not(.on) {
			color: #444;
		}
		.blank_space {
			background: #f1f1f2;
			height:10px;
			border-top: 1px solid #e6e7e8;
			border-bottom: 1px solid #e6e7e8;
			clear: both;
		}