@charset "UTF-8";

/* 메인컨텐츠(마이페이지 팔로우쉐프) */
		#div_mypage_chef_panel {
			padding: 30px 21px 30px;
		}
		#div_mypage_chef_panel > #div_mypage_chef_sort {
			display: flex;
			justify-content: space-between;
			font-size: 17px;
			border-bottom: 1px solid #ccc;
		} 
		#div_mypage_chef_panel > #div_mypage_chef_sort > #div_mypage_chef_sort1 {
			display: flex;
		}
		#div_mypage_chef_panel > #div_mypage_chef_sort > #div_mypage_chef_sort1 > div {
			background: #fff;
			color: #666;
		}
		#div_mypage_chef_panel > #div_mypage_chef_sort > #div_mypage_chef_sort1 > div > a {
			display: block;
			padding: 14px 38px;
			margin-bottom: -1px;
		}
		#div_mypage_chef_panel > #div_mypage_chef_sort > #div_mypage_chef_sort1 > div > a:hover {
			color: #515151;
		}
		#div_mypage_chef_panel > #div_mypage_chef_sort > #div_mypage_chef_sort1 > div > a.open_active {
			cursor: default;
			border: 1px solid #ccc;
			border-bottom: 1px solid #fff;
			font-weight: 600;
		}
		#div_mypage_chef_sort > #div_mypage_chef_search_bar {
			padding-top: 4px;
			position: relative;
			margin: 5px 7px 0 0;
		}
		#div_mypage_chef_search_bar > form > input {
			width: 240px;
			height: 34px;
			background: #fff;
			padding-left: 32px;
			font-size: 14px;
			line-height: 1.42857143;
			border: 1px solid #ccc;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		}
		#div_mypage_chef_search_bar > form > input::placeholder {
			color: #aaa;
		}
		#div_mypage_chef_search_bar > form > span {
			position: absolute;
			left: 8px;
			top: 10px;
			font-size: 20px;
			color: #ccc;
		}
		#div_mypage_chef_search_bar > form > button {
			background: #f7f7f7;
			border: 1px solid #ccc;
			width: 60px;
			height: 34px;
			color: #333;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			border-radius: 0 3px 3px 0;
			padding: 0 0 1px 0;
			margin: 0 5px 0 -6px;
		}
		#div_mypage_chef_panel > #div_mypage_chef_body {
			padding-top: 15px;
		}
		#div_mypage_chef_panel > #div_mypage_chef_body > #div_mypage_chef_none {
			padding: 40px 0;
			color: #999;
			font-size: 16px;
			line-height: 26px;
		}
		#div_mypage_chef_panel > #div_mypage_chef_body > #div_mypage_chef_none > img {
			width: 180px;
			height: 180px;
		}
		#div_mypage_chef_panel > #div_mypage_chef_body > #div_mypage_chef_none > p {
			margin: 0;
			padding: 25px 0 20px;
			font-size: 24px;
			color: #333;
			line-height: 150%;
		}
		#div_mypage_chef_body > .div_mypage_chef_item {
			display: flex;
			padding: 25px 50px 20px;
			margin: 0 0 8px 0;
			border-bottom: 1px solid #d5d6d7;
		}
		.div_mypage_chef_item > .div_mypage_chef_img {
			padding-right: 18px;
		}
		.div_mypage_chef_item > .div_mypage_chef_img > a > img {
			width: 66px;
			height: 66px;
			border-radius: 50%;
			border: 1px solid #e6e6e6;
		}
		.div_mypage_chef_content > .div_mypage_chef_user {
			padding: 10px 0 0 0;
			margin: 0;
		}
		.div_mypage_chef_user > .div_mypage_chef_user_name {
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 6px 0;
			line-height: 1;
		}
		.div_mypage_chef_user_name > a {
			color: #de4830;
		}
		.div_mypage_chef_user_name > button {
			padding: 4px 10px 5px;
			font-size: 12px;
			line-height: 1.5;
			border-radius: 3px;
			color: #333;
			background: #fff;
			border: 1px solid #ccc;
			font-weight: 400;
			text-align: center;
			margin: 0 2px;
		}
		.div_mypage_chef_user > .div_mypage_chef_user_figures {
			color: #666;
			font-size: 15px;
			font-weight: 400;
			margin: 0;
		}
		.div_mypage_chef_user > .div_mypage_chef_user_figures > b {
			margin: 0 10px 0 2px;
			font-weight: 600;
		}
		.div_mypage_chef_content > .div_mypage_chef_recipe_img {
			padding-top: 18px;
		}
		.div_mypage_chef_content > .div_mypage_chef_recipe_img > a {
			display: inline-block;
			margin-right: 5px;
		}
		.div_mypage_chef_content > .div_mypage_chef_recipe_img > a > img {
			width: 140px;
			height: 140px;
		}
		.div_mypage_chef_content > .div_mypgae_chef_comments {
			margin: 18px 0 20px 0;
		}
		.div_mypage_chef_comments > .div_mypgae_chef_comment {
			margin-bottom: 10px;
		}
		.div_mypgae_chef_comment > div:nth-child(1) {
			line-height: 1;
			margin-top: 12px;
		}
		.div_mypgae_chef_comment > div:nth-child(1) b {
			color: #de4830;
			margin-right: 4px;
			font-weight: 600;
		}
		.div_mypgae_chef_comment > div:nth-child(2) {
			color: #555;
			margin: 4px 0;
			line-height: 1.4;
			font-size: 15px;
		}
		#div_mypage_page_panel > #div_mypage_page_bundle {
			display: flex;
			justify-content: center;
			margin: 30px 0;
		}
		#div_mypage_page_bundle > .div_mypage_page_button > a {
			display: inline-block;
			padding: 9px 15px;
			margin: 0 3px;
			text-decoration: none;
			border: 1px solid #ebebeb;
		}
		#div_mypage_page_bundle > .div_mypage_page_button > a.button_active {
			color: #ff5e5e;
			cursor: default;
			font-weight: 600;
		}
