@charset "UTF-8";

/* 메인컨텐츠(공지사항) */
		#div_panel {
			margin-bottom: 20px;
		}
		#div_panel .cs_content {
			margin-bottom: 0;
		}
		#div_panel .cs_post_header {
			background: #fff;
			border-color: #e6e7e8;
			border-bottom: 0;
			padding: 18px 30px 24px;
			border-left: 1px solid #e6e7e8;
			border-right: 1px solid #e6e7e8;
		}
		#div_panel .cs_post_header div {
			color: #333;
			font-size: 24px;
		}
		#div_panel .cs_post_header div i.btn_arrow {
			float: right;
			margin: 10px 10px 10px 0;
		}
		#div_panel .cs_post_header span.date {
			font-size: 15px;
			color: #999;
			display: block;
		}
		#div_panel .cs_post_body:before {
			display: table;
			content: " ";
		}
		#div_panel .cs_post_body {
			border-top: 1px solid #e6e7e8;
			border-left: 1px solid #e6e7e8;
			border-right: 1px solid #e6e7e8;
			padding: 30px 50px 40px;
			font-size: 16px;
			line-height: 25px;
			display: none;
		}
		#div_panel .cs_post_body:after {
			clear: both;
			display: table;
			content: " ";
		}
		#nav_page_panel {
			text-align: center;
			clear:both;
		}
		#nav_page_panel > #div_page_bundle {
			display: inline-block;
			padding-left: 0;
			margin: 30px 0;
		}
		#nav_page_panel > #div_page_bundle .page_button {
			display: inline;
		}
		#nav_page_panel > #div_page_bundle .page_button a {
			padding: 9px 15px;
			margin: 10px 3px;
			background-color: #fff;
			border: 1px solid #ebebeb;
			font-size: 14px;
			font-weight: 500;
		}
		#nav_page_panel > #div_page_bundle .page_button > a.on {
			z-index: 2;
			color: #ff5e5e;
			cursor: default;
		}
		#nav_page_panel > #div_page_bundle .page_button > a:not(.on) {
			color: #888;
		}
