@charset "UTF-8";
#grid_wrap_6rows_hrk{
	display: grid;
	margin: 0 auto;
	width: 1000px;
	grid-template-columns: 150px 850px;
	grid-template-rows: 35px 35px 35px 35px 35px 35px;
}
#grid_wrap_3rows_hrk{
	display: grid;
	margin: 0 auto;
	width: 1000px;
	grid-template-columns: 150px 850px;
	grid-template-rows: 35px 35px 35px;
}
.grid_wrap_hrk{
	display: grid;
	margin: 0 auto;
	width: 1000px;
	grid-template-columns: 150px 850px;
}
.main1_hrk{
	background: #aaa;
	display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
	
}
.main2_hrk{
	background: #bbb;
	padding-left: 10px;
	border: dotted 1px #dbdbdb;
	min-height: 35px;	
}
.main2_hrk>ul{
	display: flex;
	align-items: center;
}
.main2_hrk>ul>li{
	margin-right: 10px;
}
#price_notice1{
	text-decoration: line-through;
}
.add_opt{
	padding-left: 10px;
}
.add_opt>ul{
	display: flex;
	align-items: center;
}
.add_opt>ul>li{
	margin-right: 10px;
}
.add_2stopt{
	padding-left: 10px;
}
.add_2stopt>ul{
	display: flex;
	align-items: center;
}
.add_2stopt>ul>li{
	margin-right: 10px;
}
.img_notice{
	font-size: 12px;
    color: red;
}
.Goodinfooffer_textarea{
	margin-top:5px;
}
.Goodinfooffer_textarea>textarea{
	width: 700px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#good_notice_textarea{
	width: 700px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}