@charset "UTF-8";
.grid_wrap_hrk{
	display: grid;
	margin: auto;
	width: 1000px;
	grid-template-columns: 150px 850px;
}
.main1_hrk{
	background: #aaa;
	display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    min-height: 35px;
}
.main2_hrk{
	background: #bbb;
	padding-left: 10px;
	border: dotted 1px #dbdbdb;
	min-height: 35px;
}
.main2_hrk>ul{
	display:flex;
	align-items: center;
}
.main2_hrk>ul>li{
	margin-right: 10px;
}
#result_table{
	width: 1000px;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
}
#result_table>table{
	width: 100%;
}
#result_table>table>thead>tr>th{
	padding: 9px 10px 10px 10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #dbdbdb;
	background: #f7f7f7;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #333;
	line-height: 1.5;
}
#result_table>table>tbody>tr>td{
	border-bottom: 1px solid #dbdbdb;
	height: 31px;
	padding: 15px 10px 14px 10px;
	color: #777;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	
}
.good_code>ul{
	display: flex;
	justify-content: space-evenly;
    align-items: center;
}
.good_code>ul>li>figure{
	height: 100px;
}
.good_code>ul>li>figure>img{
	height: 100%;
}
.good_name>span{
	font-size: 12px;
}
.good_function>ul{
	display: flex;
	justify-content: space-evenly;
}
.menu_bar{
	width: 570px;
	display: flex;
	justify-content: space-between;
}
.menu_bar_ul>ul{
	display: flex;
}
.menu_bar_ul>ul>li{
	margin-right: 5px;
}