@charset "UTF-8";
#header_wrap{
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom:1px solid #dbdbdb;
}
.logo>figure{
	
}
#header_wrap>ul{
	display: flex;
	align-items: center;
}
#header_wrap>ul>li{
	margin-left: 30px;
}
#header_wrap>ul>li>a{
	color: black;
}